# Carga de datos a través de la función read_csv

In [1]:
import pandas as pd
import os

In [2]:
mainpath = "/Users/lucho/a_udemy_big_data/python-ml-course-master/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

data = pd.read_csv("./python-ml-course-master/datasets/titanic/titanic3.csv")

### Otra forma de llamr fichero dividiendo directorio y archivo:

In [3]:
data = pd.read_csv(fullpath)

In [4]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", sep=",") #CUIDADO: ES EL TXT; NO EL CSV

In [6]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Llamar los nombres actuales de las colmnas:

In [7]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

## Llamar los nuevos nombres para las colmnas:

In [8]:
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")

## Convertir la columna de nombres en lista:

In [9]:
data_col_list = data_cols["Column_Names"].tolist()

## Cambiar el encabezado

Ignorar encabezado original y cambiarlo por el nuevo encabezado

In [10]:
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", 
                    header = None, names = data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

In [11]:
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt",'r')
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

"r", se refiere a que solo leera los datos

Lee la fila, elimina los espacios en blanco al inicio y al final, delimita los datos. Finalmente se obtiene el numero de columnas

In [12]:
cols = data3.readline().strip().split(",")
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

## Obtener el numero de columnas

In [13]:
n_cols = len(cols)
n_cols

21

In [14]:
n_cols

21

## Obtener el numero de Filas

Se crea un contador y se define el nombre de las columnas como claves del diccionario

In [15]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [16]:
main_dict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

Llenar el diccionario con un bucle que recorrera cada linea del dataset

In [17]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

El data set tiene 3332 filas y 21 columnas

In [18]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Lectura y escritura de ficheros

Crear un nuevo fichero y enviar la informacion separada por un delimitador diferente, para este caso de una coma "," aun tabulador "\t"

In [19]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Table Customer Churn Model.txt"

In [20]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [21]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [22]:
Leer datos desde una URL¶
1
medals_url = "http://winterolympicsmedals.com/medals.csv"
1
medals_data = pd.read_csv(medals_url)
1
medals_data.head()

SyntaxError: invalid syntax (1174493074.py, line 1)

# Leer datos desde una URL

URL o enlace del fichero web

In [23]:
medals_url = "https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/athletes/downloaded_medals.csv"

Leer el fichero

In [24]:
medals_data = pd.read_csv(medals_url)
medals_data.head()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

## => Otra alternativa para traer datos

"impot csv" => Métodos para gestionar archivos csv, 
"impot urllib3" => Sirve para navegar y acceder a información desde una url

In [25]:
import csv        # Métodos para gestionar archivos csv
import urllib3    # Sirve para navegar y acceder a información desde una url
import xlwt

## Scrip para leer datos desde una url

#### Ejercicio de descarga de datos con urllib3
Vamos a hacer un ejemplo usando la librería urllib3 para leer los datos desde una URL externa, procesarlos y convertirlos a un data frame de *python* antes de guardarlos en un CSV local.

# Solucion que ignora las filas con problemas

In [28]:
def downloadFromURL(url, filename, sep=",", delim="\n", encoding="utf-8",
                    mainpath = "/Users/lucho/a_udemy_big_data/python-ml-course-master/datasets/athletes"):
    # Hacemos la conexión con la web de los datos
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data
    
    # Convertimos el string binario a un string decodificándolo en UTF-8
    str_data = response.decode(encoding)

    # Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    # La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    # Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    # Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        # Nos saltamos la primera línea que es la que contiene la cabecera y ya hemos procesado
        if counter > 0:
            # Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            # Comprobamos si el número de columnas coincide con el número de columnas de la cabecera
            if len(values) == n_cols:
                # Añadimos cada valor a su respectiva columna del diccionario
                for i in range(n_cols):
                    main_dict[col_names[i]].append(values[i])
            else:
                print(f"La línea {counter} no contiene {n_cols} columnas, se omitirá")
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

    # Convertimos el diccionario procesado a DataFrame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    df.set_index("", inplace=True) # Este método toma como argumento el nombre de la columna que quieres utilizar como índice
    print(df.head())

    # Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    # Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)

    return df

In [29]:
medals_df = downloadFromURL(medals_url, "downloaded_medals")
medals_df.head()

El estado de la respuesta es 200
La línea 2312 no contiene 9 columnas, se omitirá
El data set tiene 2312 filas y 9 columnas
       City      Discipline       Event Event gender   Medal  NOC       Sport  \

0  Chamonix  Figure skating  individual            M  Silver  AUT     Skating
1  Chamonix  Figure skating  individual            W    Gold  AUT     Skating
2  Chamonix  Figure skating       pairs            X    Gold  AUT     Skating
3  Chamonix       Bobsleigh    four-man            M  Bronze  BEL   Bobsleigh
4  Chamonix      Ice Hockey  ice hockey            M    Gold  CAN  Ice Hockey

   Year

0  1924
1  1924
2  1924
3  1924
4  1924

C:\Users\lucho\.conda\envs\udemy_machine_learning\lib\site-packages\ipykernel_launcher.py:53: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

Los ficheros se han guardado correctamente en: /Users/lucho/a_udemy_big_data/python-ml-course-master/datasets/athletes\downloaded_medals

,City,Discipline,Event,Event gender,Medal,NOC,Sport,Year
,,,,,,,,
0,Chamonix,Figure skating,individual,M,Silver,AUT,Skating,1924
1,Chamonix,Figure skating,individual,W,Gold,AUT,Skating,1924
2,Chamonix,Figure skating,pairs,X,Gold,AUT,Skating,1924
3,Chamonix,Bobsleigh,four-man,M,Bronze,BEL,Bobsleigh,1924
4,Chamonix,Ice Hockey,ice hockey,M,Gold,CAN,Ice Hockey,1924

# Nota:
Se ignoran las filas que no tengan el mismo número de columnas que el encabezado, esta es una solución alternativa, sería bueno poder dejar las filas vacías también, y para que no aparezca doble index se establece el index con --df.set_index("", inplace=True)--, otro problema se generaba debido a que no se había importado la librería xlwt en el ambiente de juyter. De igual manera se tiene un problema con el destino de guardar el archivo, se soluciona copiando toda la ruta del directorio en la función y solo se deja el nombre para guardar como argumento que se le pasa a la función.

# Solucion Alternativa mas corta que acepta todas las filas

In [43]:
import csv
import urllib3
url = medals_url
http = urllib3.PoolManager()
response = http.request('GET',url)
cr = csv.reader((response.data).decode('utf-8').split('\n'),delimiter=',')
data = [x  for x in cr]
dataf = pd.DataFrame(data[1:],columns=data[0])
dataf.set_index("", inplace=True)
dataf.head()

,City,Discipline,Event,Event gender,Medal,NOC,Sport,Year
,,,,,,,,
0,Chamonix,Figure skating,individual,M,Silver,AUT,Skating,1924
1,Chamonix,Figure skating,individual,W,Gold,AUT,Skating,1924
2,Chamonix,Figure skating,pairs,X,Gold,AUT,Skating,1924
3,Chamonix,Bobsleigh,four-man,M,Bronze,BEL,Bobsleigh,1924
4,Chamonix,Ice Hockey,ice hockey,M,Gold,CAN,Ice Hockey,1924

In [44]:
# Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
mainpath="/Users/lucho/a_udemy_big_data/python-ml-course-master/datasets/athletes"
filename="downloaded_medals"
fullpath = os.path.join(mainpath, filename)
# Lo guardamos en CSV, en JSON o en Excel según queramos
dataf.to_csv(fullpath+".csv")
dataf.to_json(fullpath+".json")
dataf.to_excel(fullpath+".xls")
print(f"Los ficheros se han guardado correctamente en: {fullpath}")

C:\Users\lucho\.conda\envs\udemy_machine_learning\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

Los ficheros se han guardado correctamente en: /Users/lucho/a_udemy_big_data/python-ml-course-master/datasets/athletes\downloaded_medals

# Leer ficheros XLS y XLSX

In [56]:
mainpath = "/Users/lucho/a_udemy_big_data/python-ml-course-master/datasets"
filename = "titanic/titanic3.xls"

In [57]:
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

In [58]:
filename = "titanic/titanic3.xlsx"
titanic3 = pd.read_excel(mainpath + "/" + filename, "titanic3")

# Crear un data frame con los datos trabajados de XLS y XLSX

In [59]:
titanic3.to_csv(mainpath + "/titanic/titanic_custom2.csv")

In [60]:
titanic3.to_excel(mainpath + "/titanic/titanic_custom2.xls")

C:\Users\lucho\.conda\envs\udemy_machine_learning\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [61]:
titanic3.to_json(mainpath + "/titanic/titanic_custom2.json")